In [ ]:
# aula introdutória
# dataFrames

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
series = pd.Series([7, 4, 2, np.nan, 6, 9.2])

In [ ]:
series

In [ ]:
type(series)

In [ ]:
# geração de datas 'ano/mes/dia'
datas = pd.date_range('20180113', periods= 20)

In [ ]:
datas

In [ ]:
help(pd.date_range)

In [ ]:
# geração de datas 'ano/mes/dia'
datas_mensal = pd.date_range('20180113', periods= 6, freq='M') # freq 'M' == mes

In [ ]:
datas_mensal

In [ ]:
df = pd.DataFrame(np.random.randn(20,7), index=datas, columns=list('ABCDEFG'))

In [ ]:
# geração de numeros aleatórios dentro de uma distribuição normal com média == 0 e std == 1
np.random.randn(20,7) # 20 linhas e 7 colunas

In [ ]:
list('ABCDFGHI') # ['A', 'B', 'C', 'D', 'F', 'G', 'H', 'I']

In [ ]:
df

In [ ]:
df.head()

In [ ]:
df2 = pd.DataFrame(np.random.randn(20,3), index=datas, columns=['Alan', 'Marcela', 'Mario'])

In [ ]:
df2.head()

In [ ]:
# criação de dataframe com dicionario
df3 = pd.DataFrame({'A': 39,
                    'B': 'Colisão',
                    'C': pd.Timestamp('20190123'),
                    'D': pd.Series(2, index=list(range(5)), dtype='float32'),
                    'E': np.nan
                    })

In [ ]:
df3

In [ ]:
df3.dtypes

In [ ]:
df2.head()

In [ ]:
# adição de novas colunas
df2['Franscisco'] = np.random.randn(20)

In [ ]:
df2['Cláudio'] = range(20)

In [ ]:
df2.columns

In [ ]:
# guardando nome das colunas em uma variavel
c = df2.columns

In [ ]:
c

In [ ]:
# pegando valores das linhas e colunas em um array
df2.to_numpy()

In [ ]:
df3.head()

In [ ]:
df3.to_numpy()

In [85]:
# fazer a transposta do dataFrame(transformar colunas em linhas)
df3.T

,0,1,2,3,4
A,39,39,39,39,39
B,Colisão,Colisão,Colisão,Colisão,Colisão
C,2019-01-23 00:00:00,2019-01-23 00:00:00,2019-01-23 00:00:00,2019-01-23 00:00:00,2019-01-23 00:00:00
D,2.0,2.0,2.0,2.0,2.0
E,NaN,NaN,NaN,NaN,NaN

In [86]:
# concatenar dataFrames
df4 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3'],
                    'E': ['E0', 'E1', 'E2', 'E3']
                    }, index=[0, 1, 2, 3])

In [88]:
df5 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7'],
                    'E': ['E4', 'E5', 'E6', 'E7']
                    }, index=[4, 5, 6, 7])

In [90]:
df6 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11'],
                    'E': ['E8', 'E9', 'E10', 'E11']
                    }, index=[8, 9, 10, 11])